<%= render "layouts/message" %>

<div class="col-md-8">
	<% unless @articles.length == 0 %>
		<% @articles.each do |a| %>
			<h4><%= link_to a.title, article_path(a.id) %></h4>
			<div class="article-desc"><%= sanitize a.content[0...100] if a.content %></div>
			<hr>
		<% end %>

		<%= paginate @articles %>
	<% end %>
</div>

<div class="col-md-4">
	<div class="new-top10">
		<h5 class="text-center">最新的博客文章</h5>

		<ul>
			<% @top10.each do |a| %>
				<li title="<%= a.title %>"><%= link_to a.title[0...10], article_path(a.id) %></li>
			<% end %>
		</ul>	
	</div>
</div>