<%= render 'layouts/kindeditor' %>

<%= render "layouts/message" %>

<div class="col-md-8" sytle="margin-top:20px;">
	<div class="article-info">
		<h1 class="text-center"><%= @article.title %></h1>
		<p class="article-time">
			<%= @article.created_at.strftime("%B %d,%Y %T") %>
			<% if is_admin? %>
				<%= link_to "删", @article, data: {confirm: "确定要删除吗？"}, method: "delete" %>
			<% end %>
		</p>
	</div>
	
	<div class="article-body"><%= sanitize @article.content %></div>

	<ul class="pager">
	  <li class="previous">
	  	<%= link_to '<- 上一篇', "/articles/find_page?current_id=#{@article.id}&type=pre" %>
	  </li>
	  <li class="next">
	  	<%= link_to "下一篇 ->", "/articles/find_page?current_id=#{@article.id}type=next" %>
	  </li>
	</ul>

	<div class="comments">
		<% @article.comments.each_with_index do |comment,i| %>
			<div class="comment" id="comment<%= i + 1 %>">
				<div class="pull-left face">
					<%= comment.commenter %>
				</div>
				<div class="infos">
					<div class="info">
						<%= i + 1 %>楼 . <%= comment.created_at.strftime("%B %d,%Y %T") %> 
						<% if is_admin? %>
							<%= link_to "删", [comment.article, comment], method: :delete, data: {confirm: "你确定删除吗？"} %>
						<% end %>
					</div>
					<div class="body">
						<%== comment.body %>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<div class="new-comment">
		<%= form_for([@article, @article.comments.build], html: {class: "form-horizontal", role: "form"}) do |f| %>
		  <div class="form-group">
		  	<% unless current_user %>
			    <%= f.label :commenter, "作者", class: "col-md-1 control-label" %>
			    <div class="col-md-4">
			    	<%= f.text_field :commenter, class: "form-control", placeholder: "这里写你的邮箱" %>
			    </div>
		    <% end %>
		  </div>
		  <div class="form-group">
		    <%= f.label :body, "内容", class: "col-md-1 control-label" %>
		    <div class="col-md-4">
			    <textarea name="body" style="width:300px;height:200px;visibility:hidden;">写点评论吧。。。</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		  	<div class="col-md-1 col-md-offset-1">
			    <%= f.submit :发表, class: "btn btn-primary" %>
		  	</div>
		  </div>
		<% end %>
		
	</div>

<div class="col-md-4">
	
</div>

<script type="text/javascript">
	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="body"]', {
			resizeType : 1,
			allowPreviewEmoticons : true,
			cssPath : ['http://kindeditor.net/ke4/plugins/code/prettify.css'],
			items : [
				'fontname', 'fontsize', 'code', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'link']
		});		
	});

</script>